 <!DOCTYPE HTML>
<html lang="es">

 <head>
        <meta charset="utf-8">
        <title>Curso de Docker</title>
    </head>

    <hr/>
    <body>
        <h1>Curso de Docker</h1>
        <hr>
        <h3>Ingresar datos que se enviarán a una bd de otro contenedor</h3>
        <form action="" method=post enctype=multipart/form-data>
        <p>
            <table>
                <tr>
                    <td><label>Nombre</label></td>
                    <td><input type=text name=txtnombre></td>
                </tr>
                <tr>
                    <td><label>Apellido</label></td>
                    <td><input type=text name=txtapellido></td>
                </tr>
                <tr>
                    <td><label>Edad</label></td>
                    <td><input type=text name=txtedad></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type=submit value=Guardar></td>
                </tr>
            </table>
        </p>
        </form>
    </body>
 </html>